.panel-body {
    background-color: #f7f3f3;
}

.container-custom {
  padding-top: 10px;
}

.right {
    float:left;
}

.left {
    float:right;
}

.img-responsive {
  display: block;
  height: 300px;
  width: 300px;
  margin-top: 1%;
  margin-bottom: 1%;
}


.bullet {
  font-family: -webkit-body;
  font-size: 14px;
}

.feature {
  padding: 2%;
  font-family: -webkit-body;
  font-size: 14px;
}
