.container-custom {
  /* background: linear-gradient(rgb(245, 236, 245), rgba(241, 241, 241, 1)); */
  padding-top: 10px;
}
.firstCol{
  background-color: #f7f3f3;
}

.secCol{
  background-color: #f1f1f1;
}

.bullet {
  width: 60%;
  margin-top: -25%;
}

.left {
    margin-right: 10%;
    float:right;
}

.img-responsive {
  display: block;
  height: 40%;
  max-width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.feature {
  background-color: #f7f3f3;
  padding: 2%;
}
